<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-toolbar style="background-color:#222222; color:white">
            <span>Menú</span>
          </mat-toolbar>
        <mat-nav-list>
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                <a mat-list-item [routerLink]="['login']">Iniciar sesión</a>
            </ng-container>
            <ng-container *ngIf="authService.loggedIn()">
                <a mat-list-item [routerLink]="['dashboard']">Dashboard</a>
            </ng-container>
            <ng-template #loggedIn>
                <a mat-list-item (click)="authService.logOut()">Cerrar sesión</a> 
            </ng-template>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar style="background-color:#222222; color:white">
            <span>Contenido</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>