<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-toolbar color="primary">
            <span>Menú</span>
          </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/cosecha">Cosecha</a>
            <a mat-list-item routerLink="/corrida-piscina">Corrida-Piscina</a>
            <a mat-list-item routerLink="/proveedor">Proveedor</a>    
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <span>Datos estadísticos</span>
          </mat-toolbar>
          <router-outlet></router-outlet>
          <!-- Add Content Here -->
    </mat-sidenav-content>
</mat-sidenav-container>