<div class="row">
    <div class="col-sm-6">
        <img class="img-responsive" src="assets/images/logo.png" class="img-rounded" title="SAMACAN S.A." width="100%" height="100%">
    </div><br>
    <div class="col-sm-6" class="centrar">
        <div id="marcos"><br>
            <h2><strong>Sistema de información Gerencial</strong></h2><br>
            <h4><strong>SAMACAN S.A.</strong></h4><br>
            <form>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">✉</span>
                    <input type="email" class="form-control" placeholder="Correo electrónico" name="user_email" required="required">
                </div><br>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">🔐</span>
                    <input type="password" class="form-control" placeholder="Contraseña" name="user_password" required="required">
                </div><br>
                <div id="centrado">
                    <button id="signup" class="btn btn-info btn-lg">Iniciar sesión</button><br>
                </div>
            </form>
        </div>
    </div>
</div>