<br>
<br>
<div class="row">
    <div class="col-sm-6">
        <img class="img-responsive" src="assets/images/logo.jpg" class="img-rounded" title="Social Network" width="100%" height="100%">
    </div><br>
    <div class="col-sm-6">
        <div>
            <h2><strong>Mira lo que está pasando en <br> el mundo ahora mismo</strong></h2><br>
            <h4><strong>Se parte de Social Network hoy.</strong></h4><br>
            <form>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">📨</span>
                    <input type="email" class="form-control" placeholder="Correo electrónico" name="user_email" required="required">
                </div><br>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">🔐</span>
                    <input type="password" class="form-control" placeholder="Contraseña" name="user_password" required="required">
                </div><br>
                <a id="referencia" data-toggle="tooltip" title="Reset password" href="">¿Olvidaste tu contraseña?</a><br><br>
                <div id="centrado">
                    <button id="signup" class="btn btn-info btn-lg">Iniciar sesión</button><br>
                </div>
            </form>
        </div><br>
    </div>
</div><br>