<div class="row">
    <div class="col-sm-12">
        <h1>Formulario de inicio de sesión</h1>
    </div>
    <div class="col-sm-6">
        <img class="img-responsive" src="assets/images/logo.png" class="img-rounded" title="SAMACAN S.A." width="80%" height="80%">
    </div><br>
    <div class="col-sm-6">
        <div id="marcos"><br>
            <h2><strong>Sistema de información Gerencial</strong></h2><br>
            <h4><strong>Colegio de Bachillerato Dr. José Ochoa León</strong></h4><br>
            <form (submit)="LoguearUsuario()">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">✉</span>
                    <input type="text" class="form-control" [(ngModel)]="user.usuario" placeholder="Nombre de ususario" name="usuario" required="required">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">🔐</span>
                    <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Contraseña" name="password" required="required">
                </div><br>
                <p style="color:red;">{{ alertaLogueo }}</p>
                <div id="centrado">
                    <button type="submit" class="btn btn-info btn-lg">Iniciar sesión</button><br>
                </div>
            </form>
        </div>
    </div>
</div>